@import url('https://fonts.googleapis.com/css?family=Montserrat|Bilbo|Lovers+Quarrel');
body {
  background-image: url("Backgrounds/bible1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Montserrat";
}

h1 {
  font-family: "lovers quarrel";
  font-size: 6rem;
}

h2 {
  font-family: "bilbo";
  font-size: 3rem;
}

.verseBox {
  background: #f5f5f5;
  margin-top: 10%;    
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 35px;
    background-color: #e7e7e7;
    text-align: center;
}

a#verse-picker {
  cursor: pointer;
}

select#background-picker {
  cursor: pointer;
}

a {
  cursor: default;
}