@import url('https://fonts.googleapis.com/css?family=Tangerine');


body {
  background: #f4f4ec;
  font-family: 'Tangerine', cursive;

}

h1 {
  border: 1px solid black;
  border-radius: 3px;
  height: 200px;
  width: 600px;
  padding: 10px;
  position: relative;
  top: 20px;
  left: 50px;
  background: #615dec;
  color: #f4f4ec;
  text-align: center;
  font-size: 60px;
}

h2 {
  border: 1px solid black;
  border-radius: 3px;
  width: 500px;
  padding: 10px;
  position: relative;
  bottom: 120px;
  left: 100px;
  background: #76e2f4;
  text-align: center;
}
